.content {
    display: flex;
}

.amiami-list {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-grow: 1
}

.preview {
    width: 50pc;
    background-color: rgba(255,255,255,0.8);
    margin-right: 20px;
    border-radius: 5px;
}

.figure {
    margin: 0 10px 20px 10px;
    width: 15%;
    border-radius: 8px;
    position: relative;
    border: 2px solid grey;
}

.figure:hover {
    border: 2px solid white;
    cursor:pointer;
}

h1 {
    color: white;
    text-align: center;
}

body {
    background: rgba(0, 0, 0, .5) url("akiba.jpg");
    background-blend-mode: darken;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

:root {
    backdrop-filter: blur(5px);
}

.figure-img-container {
    height: 100%;
}

.figure-img {
    display: block; 
    width: 100%;    
    height: 100%;
    border-radius: 8px;
}


.manufacturer {
    color: white;
    position: absolute;
    bottom: 0;
    font-weight: 600;
    border-radius: 8px;
    background-image: linear-gradient(transparent, rgba(0,0,0,0.8));
    width: 100%;
    
}

.manufacturerText {
    padding: 5px;
}

.manufacturer img {
    display: inline;
    max-width: 40%;
    padding: 5px;
    vertical-align: bottom;
}

.amiami-list {
    display: flex;
    flex-wrap: wrap;
}

.figure-showcase {
    padding: 10px;
    display: flex;
    flex-direction :column;
    align-items: center;
}

.showcase-img {
    max-height: 50vh;
    width: auto;
    display:block;
}

.showcase-name {
    text-align: center;
}

.showcase-exit {
    background-color: darkgrey;
    color:black;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
    border: 1px solid black;
}

.showcase-meta {
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    margin-bottom: 10px;
}

.showcase-exit:hover {
    background-color: black;
    color:white;
}


.showcase-contents {
    display: flex;
    flex-direction: row;
}

.showcase-left {
    display: flex;
    margin: 10px;
    flex-direction: column;
}

.showcase {
    flex-grow: 1
}